---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import WhatIDo from "../components/WhatIDo.astro";
import FeaturedProjects from "../components/FeaturedProjects.astro";
import MoreProjects from "../components/MoreProjects.astro";
import Skills from "../components/Skills.astro";
import Experience from "../components/Experience.astro";
---

<Layout title="Johan - Software Developer">
    <main>
        <Hero />
        <About />
        <WhatIDo />
        <FeaturedProjects />
        <MoreProjects />
        <Skills />
        <Experience />
    </main>
</Layout>
